@import "tailwindcss";

html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: geometricPrecision;
}

:root {
  color-scheme: light;
}
